<% include ../partials/header %>

<div class="container">
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<h2>Workout 1</h2>
			<% currentUser.savedWorkouts.forEach(function(exercise){ %>
			<% if(exercise.workoutNum=="1"){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<figure class="figure">
						<a href="/exercises/<%= exercise.value._id %>"><img class="mainExImg figure-img img-fluid rounded" src="<%= exercise.value.image %>"></a>
						<figcaption class="figure-caption">
							<%= exercise.value.name %>
						</figcaption>
						<% if(currentUser && currentUser.toggleEditMode){ %>
						<form action="/exercises/<%= exercise.value._id %>/profile?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
						<%}%>
					</figure>
					</div>
			<% }}); %>
		</div>
	</div>
</div>
<div class="container">
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<h2>Workout 2</h2>
			<% currentUser.savedWorkouts.forEach(function(exercise){ %>
			<% if(exercise.workoutNum=="2"){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<figure class="figure">
						<a href="/exercises/<%= exercise.value._id %>"><img class="mainExImg figure-img img-fluid rounded" src="<%= exercise.value.image %>"></a>
						<figcaption class="figure-caption">
							<%= exercise.value.name %>
						</figcaption>
						<% if(currentUser && currentUser.toggleEditMode){ %>
						<form action="/exercises/<%= exercise.value._id %>/profile?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
						<%}%>
					</figure>
					</div>
			<% }}); %>
		</div>
	</div>
</div>
<div class="container">
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<h2>Workout 3</h2>
			<% currentUser.savedWorkouts.forEach(function(exercise){ %>
			<% if(exercise.workoutNum=="3"){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<figure class="figure">
						<a href="/exercises/<%= exercise.value._id %>"><img class="mainExImg figure-img img-fluid rounded" src="<%= exercise.value.image %>"></a>
						<figcaption class="figure-caption">
							<%= exercise.value.name %> <%= exercise.workoutNum %>
						</figcaption>
						<% if(currentUser && currentUser.toggleEditMode){ %>
						<form action="/exercises/<%= exercise.value._id %>/profile?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
						<%}%>
					</figure>
					</div>
			<% }}); %>
		</div>
	</div>
</div>
<div class="container">
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<h2>Workout 4</h2>
			<% currentUser.savedWorkouts.forEach(function(exercise){ %>
			<% if(exercise.workoutNum=="4"){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<figure class="figure">
						<a href="/exercises/<%= exercise.value._id %>"><img class="mainExImg figure-img img-fluid rounded" src="<%= exercise.value.image %>"></a>
						<figcaption class="figure-caption">
							<%= exercise.value.name %> <%= exercise.workoutNum %>
						</figcaption>
						<% if(currentUser && currentUser.toggleEditMode){ %>
						<form action="/exercises/<%= exercise.value._id %>/profile?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
						<%}%>
					</figure>
					</div>
			<% }}); %>
		</div>
	</div>
</div>
<div class="container">
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<h2>Workout 5</h2>
			<% currentUser.savedWorkouts.forEach(function(exercise){ %>
			<% if(exercise.workoutNum=="5"){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<figure class="figure">
						<a href="/exercises/<%= exercise.value._id %>"><img class="mainExImg figure-img img-fluid rounded" src="<%= exercise.value.image %>"></a>
						<figcaption class="figure-caption">
							<%= exercise.value.name %> <%= exercise.workoutNum %>
						</figcaption>
						<% if(currentUser && currentUser.toggleEditMode){ %>
						<form action="/exercises/<%= exercise.value._id %>/profile?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
						<%}%>
					</figure>
					</div>
			<% }}); %>
		</div>
	</div>
</div>

<% include ../partials/footer %>
