<% include partials/header %>

<h1> <%= exercise.name %> </h1>
<img src="<%= exercise.image %>">
<p>
	<%= exercise.description %>
</p>

<% exercise.notes.forEach( function(note){ %>
	<p> <strong><%= note.author %></strong> - <%= note.text %> </p> 
<% }); %>


<% include partials/footer %>
