<% include ../partials/header %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<p class="lead">
				<%= exercise.name %>
				<% if(currentUser){ %>
					<form id="workoutNumForm" action="/exercises/<%= exercise._id %>/profile" method="POST">
						<button class="btn btn-success btn-xs">Save</button>
						<select class="custom-select" name="workoutNum" id="inlineFormCustomSelect">
							<option disabled="disabled" selected>Workout #</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</form>
				<% } %>
				<a class="btn btn-secondary btn-xs" href="/exercises/<%= exercise._id %>/notes/new">Add Note</a>
			</p>
			<div class="list-group">
				<li id="overviewSwitch" class="list-group-item active">
					Overview
				</li>
				<li id="stepSwitch" class="list-group-item">
					Steps
				</li>
				<li id="miscSwitch" class="list-group-item">
					MISC
				</li>
			</div>
		</div>
		<div class="col-12 col-md-9">
			<!-- Overview Card Start-->
			<div id="overviewCard" class="card">
				<img class="card-img-top" src="<%= exercise.image %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= exercise.name %></h5>
					<% if(currentUser && exercise.author.username == (currentUser.username) && currentUser.toggleEditMode){ %>
						<a class="btn btn-warning btn-lg" href="/exercises/<%= exercise._id %>/edit">Edit</a>
						<form id="delete-form" action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-lg">Delete</button>
						</form>
					<% } %>
				</div>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Weight</th>
							<th scope="col">Rep</th>
							<th scope="col">Set</th>
						</tr>
					</thead>
					<tbody>
						<% exercise.notes.forEach( function(note){ %>
							<%	if(currentUser && note.author.username === (currentUser.username)){%>
							<tr>
								<th scope="row"><%= note.date %></th>
								<td><%= note.weight %> lbs</td>
								<td><%= note.rep %></td>
								<td><%= note.set %></td>
								<% if(currentUser && note.author.id.equals(currentUser._id) && currentUser.toggleEditMode){ %>
								<td>
									<a class="btn btn-xs btn-warning"
									   href="/exercises/<%= exercise._id %>/notes/<%= note._id %>/edit">
									   Edit
								   </a>
									<form id="comment-delete-form" action="/exercises/<%= exercise._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
										<button class="btn btn-danger btn-xs">Delete</button>
									</form>
								</td>
								<% } %>
							</tr>
								<%}%>

						<% }); %>
					</tbody>
				</table>
			</div><!-- Overview Card End-->
			<!-- Steps Card End-->
			<div id="stepCard" class="card hidethat">

				<div class="card-body">
					<h5 class="card-title">How to Properly: <%= exercise.name %></h5>
					<% var steps = exercise.description.split("#"); %>
					<% for(i=0;i<steps.length;++i){ %>
						<%=i+1%>. <%= exercise.description.split("#")[i]; %> <br/>
					<% } %>
					<% if(currentUser && exercise.author.username == (currentUser.username) && currentUser.toggleEditMode){ %>
						<a class="btn btn-warning btn-lg" href="/exercises/<%= exercise._id %>/edit">Edit</a>
						<form id="delete-form" action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-lg">Delete</button>
						</form>
					<% } %>
				</div>

			</div><!-- Steps Card End-->

			<!-- MISC Card End-->
			<div id="miscCard" class="card hidethat">

				<div class="card-body">
					<h5 class="card-title">MISC</h5>
					<p class="card-text">Bacon ipsum dolor amet capicola chicken venison leberkas pork chop andouille tenderloin porchetta buffalo cupim. Pork chop bacon andouille porchetta picanha. Brisket kevin tenderloin biltong burgdoggen landjaeger tail ribeye. Ground round swine cupim bacon spare ribs boudin flank kevin filet mignon. Jerky burgdoggen prosciutto porchetta bresaola filet mignon.</p>
					<% if(currentUser && exercise.author.username == (currentUser.username) && currentUser.toggleEditMode){ %>
						<a class="btn btn-warning btn-lg" href="/exercises/<%= exercise._id %>/edit">Edit</a>
						<form id="delete-form" action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-lg">Delete</button>
						</form>
					<% } %>
				</div>

			</div><!-- MISC Card End-->

		</div>
	</div>
</div>
<script>
	//switch toggles for menu
    $('#stepSwitch').click(function () {
		$("#overviewSwitch").removeClass("active");
		$("#miscSwitch").removeClass("active");

		$("#overviewCard").addClass("hidethat");
		$("#miscCard").addClass("hidethat");

		$("#stepCard").removeClass("hidethat");
		$("#stepSwitch").addClass("active");
    });
	$('#overviewSwitch').click(function () {
		$("#miscSwitch").removeClass("active");
		$("#stepSwitch").removeClass("active");

		$("#miscCard").addClass("hidethat");
		$("#stepCard").addClass("hidethat");

		$("#overviewCard").removeClass("hidethat");
		$("#overviewSwitch").addClass("active");
    });
	$('#miscSwitch').click(function () {
		$("#overviewSwitch").removeClass("active");
		$("#stepSwitch").removeClass("active");

		$("#overviewCard").addClass("hidethat");
		$("#stepCard").addClass("hidethat");

		$("#miscCard").removeClass("hidethat");
		$("#miscSwitch").addClass("active");
    });

</script>


<% include ../partials/footer %>
