<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<p class="lead">
				<%= exercise.name %>
				<% if(currentUser){ %>
					<form id="workoutNumForm" action="/exercises/<%= exercise._id %>/profile" method="POST">
						<button class="btn btn-success btn-xs">Save</button>
						<select class="custom-select" name="workoutNum" id="inlineFormCustomSelect">
							<option disabled="disabled" selected>Workout #</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</form>
				<% } %>
				<a class="btn btn-secondary btn-xs" href="/exercises/<%= exercise._id %>/notes/new">Add Note</a>
			</p>
			<div class="list-group">
				<li class="list-group-item active">
					Info 1
				</li>
				<li class="list-group-item">
					Info 2
				</li>
				<li class="list-group-item">
					Info 3
				</li>
			</div>
		</div>
		<div class="col-12 col-md-9">
			<div class="card">
				<img class="card-img-top" src="<%= exercise.image %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= exercise.name %></h5>
					<p class="card-text"><%= exercise.description %></p>
					<% if(currentUser && exercise.author.username == (currentUser.username) && currentUser.toggleEditMode){ %>
						<a class="btn btn-warning btn-lg" href="/exercises/<%= exercise._id %>/edit">Edit</a>
						<form id="delete-form" action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-lg">Delete</button>
						</form>
					<% } %>
				</div>

				<div class="card-header">
					<p>
						<% exercise.notes.forEach( function(note){ %>
							<%	if(currentUser && note.author.username === (currentUser.username)){%>
								<p> <strong><%= note.author.username %></strong></p>
								<p> <%= note.date %> Weight: <%= note.weight %> lbs Rep: <%= note.rep %> Set: <%= note.set %> </p>
							<%	}%>
							<% if(currentUser && note.author.id.equals(currentUser._id) && currentUser.toggleEditMode){ %>
								<a class="btn btn-xs btn-warning"
								   href="/exercises/<%= exercise._id %>/notes/<%= note._id %>/edit">
								   Edit
							   </a>
								<form id="comment-delete-form" action="/exercises/<%= exercise._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
									<button class="btn btn-danger btn-xs">Delete</button>
								</form>
							<% } %>
						<% }); %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>



<% include ../partials/footer %>
